<table class="table">
<tr>
  <th>Title</th>
  <th>Song</th>
  <th>artist</th>
  <th>Lyrics</th>
  <th>Temp</th>
</tr>
<% @lyrics.each do |lyric| %>
  <tr>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=lyric.song_lyrics  %></td>
    <td></td>
  </tr>
<% end %>
</table>
